<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461210929973-1cugh8nb4ctjubm6q7hne3s6iek57su7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461210929973-1cugh8nb4ctjubm6q7hne3s6iek57su7</string>
	<key>API_KEY</key>
	<string>AIzaSyABG5n0JFmBlHrBcLcvld7Yj5nK21lHEQU</string>
	<key>GCM_SENDER_ID</key>
	<string>461210929973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.instamobile.swift.abroad</string>
	<key>PROJECT_ID</key>
	<string>app-templates-app</string>
	<key>STORAGE_BUCKET</key>
	<string>app-templates-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461210929973:ios:85b3c422fb17e61036da7c</string>
	<key>DATABASE_URL</key>
	<string>https://app-templates-app.firebaseio.com</string>
</dict>
</plist>